<h2 style="text-align: center;"><span style="text-decoration: underline;">CERTIFICADO DE COBERTURA</span></h2>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: justify;">&nbsp; &nbsp; Se extiende el presente a los efectos de dejar constancia del CONTRATO DE SEGUROS celebrado entre el SOCIO ASEGURADO y SAN CRISTOBAL S.M.S.G., cuyas condiciones sobresalientes,vigentes a la fecha, se expresan a continuaci&oacute;n:</p>
<p style="text-align: justify;"><br />&nbsp; &nbsp; Se deja constancia que el presente listado corresponde a la n&oacute;mina del Personal Asegurado a la fecha.A partir del 1&deg; de enero de 2011 tendr&aacute; cobertura todo y solamente el personal en relaci&oacute;n de dependencia declarado al SUSS &oacute; el que figura en el LISTADO DE RELACIONES LABORALES ACTIVAS del sistema Mi Simplificaci&oacute;n</p>
<p style="text-align: justify;"><br />&nbsp; &nbsp; Se deja expresamente establecido que la vigencia efectiva de la cobertura establecida en esta constancia, queda condicionada al pago de la prima en los t&eacute;rminos y condiciones de la Resoluci&oacute;n 35.333 de la Superintendencia de Seguros de la Naci&oacute;n. La falta de pago oportuno har&aacute; caducar todo derecho indemnizatorio bajo la p&oacute;liza</p>
<table style="height: 139px; width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr style="height: 33px;">
<td style="width: 50%; height: 33px;"><strong>SOCIO ASEGURADO:</strong></td>
<td style="width: 50%; height: 33px;"><span style="color: #0000ff;">NACHT O&amp;G S.R.L.</span></td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 34px;"><strong>TIPO DE CONTRATO:</strong></td>
<td style="width: 50%; height: 34px;"><span style="color: #0000ff;">VIDA COLECTIVO DECRETO 1567/74</span></td>
</tr>
<tr style="height: 31px;">
<td style="width: 50%; height: 31px;"><strong>POLIZA N&deg;</strong></td>
<td style="width: 50%; height: 31px;"><span style="color: #0000ff;">01-04-17-75.000.750</span></td>
</tr>
<tr style="height: 41px;">
<td style="width: 50%; height: 41px;"><strong>FIN DE VIGENCIA DE LA POLIZA</strong></td>
<td style="width: 50%; height: 41px;"><span style="color: #0000ff;">01/MARZO/2024</span></td>
</tr>
</tbody>
</table>
<p><span style="text-decoration: underline;"><strong>LISTADO DEL PERSONAL ASEGURADO</strong></span></p>
<table style="width: 100%; border-collapse: collapse;" border="0">
<tbody>
<tr>
<td style="width: 50%;">ACOSTA JULIO MAURICIO DEL VALLE</td>
<td style="width: 50%; text-align: right;">20-32082857-1</td>
</tr>
<tr>
<td style="width: 50%;">AGUIRRE DIANA MARIA</td>
<td style="width: 50%; text-align: right;">23-24493471-4</td>
</tr>
<tr>
<td style="width: 50%;">ARDILES MARIELA ROSA</td>
<td style="width: 50%; text-align: right;">27-32348926-8</td>
</tr>
<tr>
<td style="width: 50%;">ARIAS JUAN MARTIN</td>
<td style="width: 50%; text-align: right;">20-27723897-8</td>
</tr>
</tbody>
</table>
<p><span style="text-decoration: underline;"><strong>CLAUSULA DE NO REPETICION:</strong></span></p>
<p>Se deja expresa constancia que la aseguradora renuncia expresamente al derecho de repetici&oacute;n que pudiera corresponde por los alcances de la cobertura de la presenta p&oacute;liza contra: <strong>TERMINAL BAHIA BLANCA</strong></p>
<p style="text-align: right;">BAHIA BLANCA, 01 de Mayo de 2.024</p>
<p>&nbsp;</p>